body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header-image {
  text-align: center;
  margin-bottom: 20px;
}

.header-image img {
  width: 200px; 
  height: auto;
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.main-heading .side-image {
  width: 100px; 
  height: auto;
  margin-right: 15px; 
}

.main-heading h1 {
  color: purple;
  margin: 0;
}

.center-bold {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.button-image {
  width: 250px; 
  height: auto;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%; 
}

.central-image {
  width: 800px; 
  height: auto;
}

.review-heading {
  color: purple;
  text-align: center;

}

.reviews {
  margin-top: 40px;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.star-image {
  margin-top: 10px;
  width: 200px;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.header-img {
  width: 150px; 
  height: auto;
  margin-right: 20px; 
}
.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.left-image {
  width: 150px; 
  height: 80px;
  margin-right: 10px; 
}


.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.feature-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.feature-text {
  font-weight: bold;
}
.features-image {
  display: flex;
  align-items: right; /* Center the image vertically */
  justify-content: right; /* Center the image horizontally */
  margin-left: 20px; /* Add some space between the features and the image */
}

.features-image img {
  max-width: 400px; /* Adjust the size as needed */
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .main-heading {
    flex-direction: column;
  }

  .main-heading .side-image {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .button-image {
    width: 200px;
  }

  .central-image {
    width: 100%;
  }

  .left-image {
    width: 100px;
    height: auto;
  }

  .features-container {
    flex-direction: column;
  }

  .features-image {
    margin-left: 0;
    margin-top: 20px;
  }

  .features-image img {
    max-width: 80px;
  }
}